In [2]:
import pandas as pd
import numpy as np

In [3]:
data1 = [["Ahmad",21],["Zaid",20],["Leen",19],["Abdulrahman",20]]
df1 = pd.DataFrame(data1,columns=["name","age"])
df1.age.value_counts().plot.bar()

          name  age
0        Ahmad   21
1         Zaid   20
2         Leen   19
3  Abdulrahman   20